pom.xml
*jar
*.war
lib
classes
target
*.swp
*~
*iws
*ipr
*iml
*.orig
*#*#
.#*
.project
init.clj
logs
autodoc
public/autodoc
*orig
*.dat
*.log
*.swo
*.swp
*.bat*
.settings
.classpath
tags
.lein-deps-sum
.lein-failures
.lein-plugins
